name: Publish
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{github.workflow}}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Publish to PyPI
        run: |
          python -m pip install --upgrade build twine
          python -m build
          export TWINE_USERNAME=__token__
          export TWINE_PASSWORD=${{ secrets.PYPI_TOKEN }}
          twine upload dist/*
